* {
    /* This is here purely for development, comment it out for release */
	/* outline: 1px solid red; */

	margin: 0px;
}

body {
    font-family: 'Open Sans', 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    font-size: 20px;
}

button, a {
    cursor: pointer;
    transition: filter 0.4s ease;
}
button:hover, a:hover {
    filter: saturate(0.2);
}
/* button:hover {
    filter: saturate(1.5);
}
a:hover {
    filter: saturate(1.5);
} */

.title {
    font-size: 42px;
    font-weight: 900;
}

/* class header, not to be confused with id header (which is the header for the entire site) */
.header {
    font-size: 36px;
    font-weight: 900;
}

.subtext {
    font-size: 18px;
}