* {
    /* This is here purely for development, comment it out for release */
	outline: 1px solid red;

	margin: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

button, a {
    cursor: pointer;
}

.title {
    font-size: 48px;
    font-weight: 900;
}

/* class header, not to be confused with id header (which is the header for the entire site) */
.header {
    font-size: 36px;
    font-weight: 900;
}

.subtext {
    font-size: 18px;
}