header {
    background-color: #1F2937;

    display: flex;
    justify-content: space-between;
    /* top, right, bottom, left */
    padding: 20px 150px 20px 150px;
    
    /* make header stick to the top of the page */
    position: sticky;
    top: 0;
}
header .logo {
    display: block;
    color: #F9FAF8;
    font-size: 24px;

    /* note: setting margin to auto vertically centers it */
    margin-top: auto;
    margin-bottom: auto;
    /* padding: 10px; */
}
header .links {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 10px;
    /* removes bullet point */
    list-style: none;
}
header .links a {
    color: #E5E7EB;
    font-size: 18px;

    /* remove link underlines */
    text-decoration: none;
    
    /* purely to center the link text */
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
}
