#header {
    background-color: var(--header-color);
    color: var(--header-text-color);
    font-family: 'Figtree', sans-serif;

    display: flex;
    justify-content: space-between;
    /* top, right, bottom, left */
    padding: 10px 150px 10px 150px;
    
    /* make header stick to the top of the page */
    position: sticky;
    top: 0;

    /* horizontal-offset, vertical-offset, blur, spread, color */
    box-shadow: 0 1px 10px -6px gray;
}
#header .logo {
    display: block;

    /* note: setting margin to auto vertically centers it */
    margin-top: auto;
    margin-bottom: auto;
    /* padding: 10px; */
}
#header .links {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 10px;
    /* removes bullet point */
    list-style: none;
}
#header .links a {
    font-size: 18px;

    /* remove link underlines */
    text-decoration: none;
    
    /* purely to center the link text */
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
}
