#business-msg {
    background-color: #2f3c4e;
    /* just to center the contents */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* top, right, bottom, left */
    padding: 75px 200px 75px 200px;
}
#business-msg .title {
    color: #F9FAF8;
    text-align: center;
}
#business-msg .subtext {
    color: #E5E7EB;
    line-height: 1.4;
    text-align: center;
}
#business-msg button {
    color: #F9FAF8;
    background-color: #3882F6;
    /* round corners */
    border-radius: 10px;
    /* flexbox seems to mess with setting left and right padding, so have to set width */
    width: 200px;
    padding-top: 4px;
    padding-bottom: 4px;
    /* border: 4px solid #3882F6; */
    border: none;
    font-size: 18px;
    font-weight: 500;
}



#success-stories {
    display: flex;
    flex-direction: column;
    gap: 30px;

    /* top, right, bottom, left */
    padding: 75px 100px 75px 100px;
}
#success-stories .header {
    color: #1F2937;
    text-align: center;
}
#success-stories .stories {
    display: flex;
    justify-content: space-between;
}
#success-stories .story {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
}
#success-stories img {
    border-radius: 10px;
    border: 4px solid #7a7a7a;
    width: 200px;
    margin: 10px;
}
#success-stories .subtext {
    color: #6a6a6a;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}



#methods {
    display: flex;
    flex-direction: column;
    gap: 30px;

    background-color: #E5E7EB;
    /* top, right, bottom, left */
    padding: 75px 50px 75px 50px;

    /* text color */
    color: #1F2937;
}
#methods .header {
    color: #1F2937;
    text-align: center;
}
#methods .grid {
    display: grid;
    border: 1px solid black;
    border-radius: 3px;
    /* if you want to have different sized columns, then use the commented att */
    /* grid-template-columns: 10fr 10fr 10fr 10fr 10fr 10fr 10fr; */
    grid-template-columns: 2fr repeat(6, 10fr);
    grid-template-rows: repeat(7, 1fr);
}
#methods .cell {
    padding: 6px;
    display: grid;
    border: 1px solid black;
    font-size: 20px;
}
#methods .descript {
    background-color: #d8dce1;
}
#methods .detail {
    background-color: #e9edf4;
}



#call-to-action {
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* top, right, bottom, left */
    padding: 75px 150px 75px 150px;
}
#call-to-action .header {
    color: #1F2937;
    text-align: center;
}
#call-to-action .subtext {
    color: #1F2937;
    text-align: center;
}
#call-to-action .buttons {
    display: flex;
    justify-content: space-around;
}
#call-to-action .buttons button {
    color: #F9FAF8;
    background-color: #a6a9ad;
    /* round corners */
    border-radius: 10px;
    /* top, right, bottom, left */
    padding: 8px 40px 8px 40px;
    border: 2px solid #F9FAF8;
    font-size: 18px;
    font-weight: 500;
}
