#business-msg {
    background-color: var(--sec1-bg-color);
    /* just to center the contents */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* top, right, bottom, left */
    padding: 75px 200px 75px 200px;
}
#business-msg .title {
    color: var(--sec1-title-color);
    text-align: center;
}
#business-msg .subtext {
    color: var(--sec1-subtext-color);
    line-height: 1.4;
    text-align: center;
}
#business-msg button {
    color: var(--sec1-btn-text-color);
    background-color: var(--sec1-btn-color);
    /* round corners */
    border-radius: 10px;
    /* flexbox seems to mess with setting left and right padding, so have to set width */
    width: 200px;

    /* top, right, bottom, left */
    padding: 6px 6px 6px 6px;

    border: none;
    font-size: 18px;
    font-weight: 500;
}



#success-stories {
    display: flex;
    flex-direction: column;
    gap: 30px;

    /* top, right, bottom, left */
    padding: 75px 100px 75px 100px;

    background-color: var(--sec2-bg-color);
}
#success-stories .header {
    color: var(--sec2-header-color);
    text-align: center;
}
#success-stories .stories {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
#success-stories .story {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid var(--sec2-story-border-color);
    border-radius: 20px;
    background-color: var(--sec2-story-bg-color);

    /* grow, shrink, basis */
    flex: 1 1 0px;
}
#success-stories img {
    border-radius: 10px;
    border: 4px solid var(--sec2-img-border-color);
    width: 60%;
    margin: 20px;
}
#success-stories .subtext {
    color: var(--sec2-subtext-color);
    text-align: center;
    /* top, right, bottom, left */
    margin: 0px 20px 20px 20px;
}



#methods {
    display: flex;
    flex-direction: column;
    gap: 30px;

    /* top, right, bottom, left */
    padding: 75px 50px 75px 50px;

    background-color: var(--sec3-bg-color);
}
#methods .header {
    color: var(--sec3-header-color);
    text-align: center;
}
#methods .grid {
    display: grid;
    border: 1px solid var(--sec3-grid-color);
    border-radius: 3px;
    /* if you want to have different sized columns, then use the commented att */
    /* grid-template-columns: 10fr 10fr 10fr 10fr 10fr 10fr 10fr; */
    grid-template-columns: 2fr repeat(6, 10fr);
    grid-template-rows: repeat(7, 1fr);
}
#methods .cell {
    padding: 6px;
    display: grid;
    border: 1px solid var(--sec3-text-color);
}
#methods .descript {
    background-color: var(--sec3-descript-col-color);
}
#methods .detail {
    background-color: var(--sec3-detail-col-color);
}



#call-to-action {
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* top, right, bottom, left */
    padding: 75px 150px 75px 150px;
    background-color: var(--sec4-bg-color);
}
#call-to-action .header {
    color: var(--sec4-header-color);
    text-align: center;
}
#call-to-action .subtext {
    color: var(--sec4-subtext-color);
    text-align: center;
}
#call-to-action .buttons {
    display: flex;
    justify-content: space-around;
}
#call-to-action .buttons button {
    color: var(--sec4-btn-text-color);
    background-color: var(--sec4-btn-color);
    /* round corners */
    border-radius: 10px;
    /* top, right, bottom, left */
    padding: 8px 40px 8px 40px;
    border: 2px solid var(--sec4-btn-color);
    font-size: 18px;
    font-weight: 500;
}
